should_launch_new_window 1
custom_color_contrast 0.3
custom_color_mode_empty_background_color    #1d2021
page_separator_color                        #1d2021
page_separator_width 10
custom_background_color                     #23262C   
custom_text_color                           #d5d8dc    
search_highlight_color                      #fdfefe
status_bar_color                            #a569bd   
status_bar_text_color                       #fdfefe 
text_highlight_color                        #fdfefe
highlight_color_d                           #E0B0FF    
highlight_color_c                           #91DDCF
highlight_color_b                           #FF9874   
highlight_color_a                           #7695FF